@charset "utf-8";
.container header {
	background-color: #8B5D7D;
}
.container header nav {
	background-color: #8D5D7D;
}
.container #hero {
	background-image: url(images/back.jpg);
}
.container #about {
	background-image: -webkit-linear-gradient(270deg,rgba(250,235,215,1.00) 0%,rgba(253,253,253,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(250,235,215,1.00) 0%,rgba(253,253,253,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(250,235,215,1.00) 0%,rgba(253,253,253,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(250,235,215,1.00) 0%,rgba(253,253,253,1.00) 100%);
}
.container .banner {
	background-image: url(images/back.jpg);
}
.container .copyright {
	background-color: #BCB361;
}
.container #contact {
	background-image: url(images/back.jpg);
}
